
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-2 col-md-3 col-sm-6">
            <center>
                <a href="@Url.Action("showDetails", new {id = item.Id })">
                    <img src=@Url.Content("~/Images/Product/"+item.product_images) class="img-responsive" style="width:200px;height:200px;" alt="" />
                </a>
                <center>
                    <p style="font-size:20px">@item.product_title</p>
                    <h6 style="color:red">Giá: @item.product_price</h6>
                </center>
            </center>
        </div>
    }
</div>*@