<h5>Technology Market bảo về người dùng như thế nào?</h5>
<ul>
    <li>Xây dựng Quy trình Kiểm duyệt tin để kiểm duyệt các tin đăng.</li>
    <li>Phát triển tính năng sản phẩm nhằm bảo vệ thông tin người dùng.</li>
    <li>Hỗ trợ người dùng tức thời thông qua kênh Chăm sóc Khách hàng.</li>
</ul>

<div class="" style="text-align:justify">
    <div class="content-detail-seller">
        <h4>Tại sao phải duyệt tin trước khi đăng?</h4>
        <div class="entry-content">
            <h5 style="text-align: center;">KIỂM DUYỆT TIN ĐỂ MUA BÁN HIỆU QUẢ</h5>
            <table class=" aligncenter" style="width: 100%;" cellspacing="0" cellpadding="30">
                <tbody>
                    <tr>
                        <td style="padding: 20px; text-align: center; vertical-align: top;">
                            <img class="  wp-image-1073 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/21.png" alt="2" width="90" height="90"><p></p>
                            <h4>Nâng cao chất lượng tin đăng</h4>
                            <p>Kiểm duyệt tin giúp tin đăng đảm bảo đầy đủ thông tin, hình ảnh, giúp người mua dễ lựa chọn hơn.</p>
                        </td>
                        <td style="padding: 20px; text-align: center; vertical-align: top;">
                            <img class="  wp-image-1072 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/11.png" alt="1" width="90" height="90"><p></p>
                            <h4>Tìm sản phẩm dễ dàng hơn</h4>
                            <p>Tin được kiểm tra và sắp xếp vào đúng chuyên mục để người mua tìm sản phẩm dễ dàng, nhanh chóng.</p>
                        </td>
                        <td style="padding: 20px; text-align: center; vertical-align: top;">
                            <img class="  wp-image-1074 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/31.png" alt="3" width="90" height="90"><p></p>
                            <h4>Loại bỏ tin rác, tin trùng lặp</h4>
                            <p>Kiểm duyệt tin giúp loại bỏ tin rác, tin bị trùng lặp, giúp người mua tìm được sản phẩm nhanh hơn.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <h3></h3>
            <h5 style="text-align: center;">KIỂM DUYỆT TIN ĐỂ MUA BÁN&nbsp;AN TOÀN</h5>
            <table style="width: 100%;" cellspacing="0" cellpadding="30">
                <tbody>
                    <tr>
                        <td style="width: 50%; padding: 20px; vertical-align: top;">
                            <h4 style="text-align: center;"><img class="wp-image-1035 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/giam-lua-dao.png" alt="giam-lua-dao"></h4>
                            <h4 style="text-align: center;"><span style="color: #ff8100;"><strong>Giảm thiểu các trường hợp tin lừa đảo</strong></span></h4>
                            <p style="text-align: center;">Techmarket xây dựng danh sách các cá nhân/tổ chức bị báo cáo lừa đảo và không cho phép họ đăng tin.</p>
                        </td>
                        <td style="width: 50%; padding: 20px; vertical-align: top;">
                            <h4 style="text-align: center;"><img class="size-full wp-image-1036 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/giam-gia-thap.png" alt="giam-gia-thap"></h4>
                            <h4 style="text-align: center;"><span style="color: #ff8100;"><strong>Loại bỏ sản phẩm có giá thấp đáng ngờ</strong></span></h4>
                            <p style="text-align: center;">Hạn chế những trường hợp lừa đảo bằng cách loại bỏ những tin đăng có giá thấp, bị nghi ngờ hàng giả, hàng nhái, kém chất lượng.</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 50%; padding: 20px; vertical-align: top;">
                            <h4 style="text-align: center;"><img class="size-full wp-image-1037 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/giam-trai-phep.png" alt="giam-trai-phep"></h4>
                            <h4 style="text-align: center;"><span style="color: #ff8100;"><strong>Loại bỏ tin đăng sản phẩm cấm hoặc trái phép</strong></span></h4>
                            <p style="text-align: center;">Hàng hoá/dịch vụ vi phạm pháp luật Việt Nam và không an toàn với người dùng sẽ không được đăng.</p>
                        </td>
                        <td style="width: 50%; padding: 20px; vertical-align: top;">
                            <h4 style="text-align: center;"><img class="size-full wp-image-1038 aligncenter" src="//trogiup.chotot.com/wp-content/uploads/sites/2/giam-da-cap.png" alt="giam-da-cap"></h4>
                            <h4 style="text-align: center;"><span style="color: #ff8100;"><strong>Loại bỏ tin đăng tuyển dụng đa cấp</strong></span></h4>
                            <p style="text-align: center;">Chúng tôi lưu trữ thông tin về các công ty tuyển dụng đa cấp và ngăn chặn các công ty này đăng tin trên Techmarket.</p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <blockquote><p>Khi bạn phát hiện trường hợp tin đăng không hợp lệ như lừa đảo, trùng lặp, thông tin không đúng thực tế, …&nbsp;hãy thông báo cho Techmarket ngay lập tức, nhằm cùng nhau tạo ra môi trường mua bán minh bạch, an toàn cho chính bạn và cộng đồng.&nbsp;Tìm hiểu thêm <a href="//trogiup.chotot.com/mua-hang-tai-chotot-vn/mua-hang-nhu-the-nao/lam-the-nao-de-bao-cao-tin-dang/">Làm thế nào để báo cáo tin đăng?</a></p></blockquote>
        </div>
    </div>

</div>