<div class="" style="text-align:justify">

    <div class="content-detail-seller">
        <h1>Các trường hợp lừa đảo phổ biến cần cảnh giác</h1>
        <div class="entry-content">
            <p><span style="font-weight: 400;">Techmarket luôn nỗ lực tạo 1 môi trường mua bán trực tuyến an toàn hiệu quả cho người dùng (tìm hiểu thêm </span><a href="//trogiup.chotot.com/nguoi-mua/cho-tot-bao-ve-nguoi-dung-nhu-the-nao//"><span style="font-weight: 400;">Techmarket làm thế nào để bảo vệ người dùng?</span></a><span style="font-weight: 400;">). Tuy nhiên với sự phát triển của công nghệ cũng như nhu cầu mua bán trực tuyến ngày càng tăng, các trường hợp lừa đảo có xu hướng gia tăng và ngày càng tinh vi. Một số trường hợp lừa đảo phổ biến được Techmarket thu thập dưới đây hy vọng sẽ giúp bạn giúp mua bán an toàn hơn.</span></p>
            <p><b>1/ Giả mạo tin nhắn thương hiệu (SMS Brandname) Techmarket&nbsp;</b></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Hành vi của đối tượng này thường là giả mạo tin nhắn thương hiệu của Techmarket để gửi thông báo trúng thưởng. Trong nội dung tin nhắn giả mạo luôn kèm đường dẫn (link) đến website giả mạo, thường có tên, logo của Techmarket nên Khách hàng (KH) dễ lầm tưởng và mất cảnh giác. Đường dẫn (link) giả mạo thường có dạng như sau: </span><span style="font-weight: 400;">NhanQuaChoTot.com</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">traothuongchotot.com</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">nhanthuongchotot.tk</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">chotot.dangkihoso2014.com</span><span style="font-weight: 400;">, </span><span style="font-weight: 400;">trangchu.vongquaythuong.com</span><span style="font-weight: 400;">,…</span></li>
                <li><span style="font-weight: 400;">Khi truy cập vào đường dẫn (link) giả mạo, KH sẽ được yêu cầu điền thông tin đăng nhập (tên + mật khẩu tài khoản Internet Banking) và mã xác thực OTP. Khi đó đối tượng lừa đảo sẽ lấy được toàn bộ thông tin cá nhân để thực hiện hành vi chiếm đoạt, rút trộm tiền trong tài khoản của KH.</span></li>
            </ul>
            <p style="padding-left: 40px;">
                <span style="font-weight: 400;"><img class="alignnone wp-image-6200" src="//trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_2-1024x832.jpg" alt="" width="700" height="569" srcset="//trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_2-1024x832.jpg 1024w, //trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_2-300x244.jpg 300w, //trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_2-768x624.jpg 768w" sizes="(max-width: 700px) 100vw, 700px"></span><span style="font-weight: 400;">
                    <br>
                </span>
            </p>
            <p style="padding-left: 40px;">
                <span style="font-weight: 400;">Tham khảo thêm dẫn chứng từ </span><span style="font-weight: 400;">
                    Báo Người lao động: <a href="//nld.com.vn/kinh-te/bo-cong-an-canh-bao-gia-mao-tin-nhan-thuong-hieu-de-lua-dao-20191213103406069.htm">nld.com.vn/kinh-te/bo-cong-an-canh-bao-gia-mao-tin-nhan-thuong-hieu-de-lua-dao-20191213103406069.htm</a><br>
                </span>
            </p>
            <p><span style="font-weight: 400;">Để bảo mật thông tin cá nhân cũng như tránh bị mất tiền trong tài khoản ngân hàng, Techmarket khuyến cáo KH</span><b> TUYỆT ĐỐI:</b></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG truy cập hoặc nhấp vào đường dẫn (link) lạ.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG cung cấp thông tin tài khoản, mã bảo mật OTP cho bất kì ai (kể cả người thân, nhân viên Techmarket, nhân viên ngân hàng).</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG chuyển tiền để nhận thưởng dưới bất kỳ hình thức nào. </span><span style="font-weight: 400;">Lưu ý</span><span style="font-weight: 400;">: Đối với các chương trình khuyến mãi/trúng thưởng, Techmarket không yêu cầu KH trả phí tham gia/nhận thưởng.</span></li>
            </ul>
            <p><b>2/ Giả danh người ngoài nước để mua hàng cho người thân tại Việt Nam</b></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Hành vi của đối tượng này thường là giả dạng người mua đang ở nước ngoài muốn mua hàng để tặng cho người thân tại Việt Nam. Đối tượng này thường đề xuất kết bạn và trò chuyện bằng nền tảng chat trực tuyến khác bên ngoài kênh Techmarket (ví dụ Zalo). Sau khi thỏa thuận mua bán, đối tượng sẽ gửi hình ảnh giấy tờ giả mạo ngân hàng là đã chuyển tiền mua hàng và yêu cầu KH truy cập vào đường dẫn (link) giả mạo website dịch vụ chuyển tiền quốc tế (ví dụ Western Union) để nhận tiền. Đường dẫn (link) giả thường có dạng:</span><span style="font-weight: 400;"> bank247quocte-westernunion.weebly.com</span><span style="font-weight: 400;">,</span><span style="font-weight: 400;"> westernunion.weebly.com</span><span style="font-weight: 400;">, …</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Khi truy cập vào đường dẫn (link) giả mạo, KH sẽ được yêu cầu điền thông tin đăng nhập (tên + mật khẩu tài khoản ngân hàng Internet Banking) và mã xác thực OTP. Khi đó đối tượng lừa đảo sẽ lấy được toàn bộ thông tin cá nhân để thực hiện hành vi chiếm đoạt, rút trộm tiền trong tài khoản của KH.</span></li>
            </ul>
            <p style="padding-left: 40px;"><img class="alignnone wp-image-6199" src="//trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_1.jpeg" alt="" width="700" height="648" srcset="//trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_1.jpeg 1098w, //trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_1-300x278.jpeg 300w, //trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_1-768x711.jpeg 768w, //trogiup.chotot.com/wp-content/uploads/2020/08/fraud_warning_1-1024x948.jpeg 1024w" sizes="(max-width: 700px) 100vw, 700px"></p>
            <p style="padding-left: 40px;">
                <span style="font-weight: 400;">
                    Tham khảo thêm dẫn chứng từ báo chí:<br>
                </span>– Báo Zing: <a href="//zingnews.vn/bo-cong-an-canh-bao-thu-doan-lua-dao-gioi-kinh-doanh-online-post1092212.html"><span style="font-weight: 400;">zingnews.vn/bo-cong-an-canh-bao-thu-doan-lua-dao-gioi-kinh-doanh-online-post1092212.html</span></a><br>
                – Báo Pháp luật: <a href="//plo.vn/an-ninh-trat-tu/gia-dich-vu-chuyen-tien-western-union-de-lua-dao-922371.html"><span style="font-weight: 400;">plo.vn/an-ninh-trat-tu/gia-dich-vu-chuyen-tien-western-union-de-lua-dao-922371.html</span></a>
            </p>
            <p><span style="font-weight: 400;">Để bảo mật thông tin cá nhân cũng như tránh mất tiền trong tài khoản ngân hàng, Techmarket khuyến cáo KH</span><b> TUYỆT ĐỐI:</b></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG truy cập hoặc nhấp vào đường dẫn (link) lạ.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG cung cấp thông tin tài khoản, mã bảo mật OTP cho bất kì ai (kể cả người thân, nhân viên Techmarket, nhân viên ngân hàng)</span></li>
            </ul>
            <p><b>3/ Chuyển tiền nhưng không nhận được hàng</b><span style="font-weight: 400;">: Người mua chuyển tiền để đặt cọc/thanh toán trước cho Người bán thông qua chuyển khoản, gửi bưu điện, … nhưng không nhận được hàng do người bán không giao hàng. Để đảm bảo an toàn, Techmarket khuyến khích:</span></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">KHÔNG đặt cọc hoặc chuyển tiền trước dù giá trị nhỏ nhất.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">NÊN sử dụng dịch vụ giao hàng COD (nhận hàng sau đó trả tiền) và cho phép đồng kiểm (kiểm tra hàng sau đó trả tiền) trong trường hợp không thể gặp mặt giao dịch trực tiếp. Nếu không có đồng kiểm, sau khi nhận hàng, nên quay camera khi tự mở hàng để làm bằng chứng giải quyết các tranh chấp (nếu có).</span></li>
            </ul>
            <p><b>4/ Tráo sản phẩm giả mạo/kém chất lượng</b></p>
            <p><span style="font-weight: 400;">Người mua tìm mua điện thoại chính hãng, khi kiểm tra hàng thì sản phẩm đúng là chính hãng như đã mô tả, nhưng sau khi người mua thanh toán, người bán nhanh tay tráo điện thoại chính hãng bằng hàng giả/kém chất lượng. Để đảm bảo an toàn, Techmarket khuyến khích:</span></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Đi cùng bạn bè/người thân khi giao dịch để hỗ trợ kiểm tra sản phẩm.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Tránh đưa sản phẩm lại cho người bán hoặc để sản phẩm ngoài tầm mắt sau khi đã trả tiền.</span></li>
            </ul>
            <p><b>5/ Hàng không như mô tả trong tin đăng: </b><span style="font-weight: 400;">Người mua đã trả tiền và nhận hàng, sau đó kiểm tra lại phát hiện sản phẩm không đạt chất lượng hoặc không giống với mô tả ban đầu của Người bán. Để đảm bảo an toàn, Techmarket khuyến khích:</span></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Cẩn trọng khi mua hàng có giá quá rẻ so với thị trường, đặc biệt các sản phẩm có giá trị cao như điện thoại, xe máy, …</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Lựa chọn Người bán được đánh giá cao và nhận xét tốt từ Người mua khác.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Tìm hiểu kỹ chính sách đổi trả, bảo hành sản phẩm.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Lưu giữ đầy đủ giấy tờ giao dịch (hóa đơn mua hàng, giấy tờ bảo hành/đổi trả, …). Những thông tin này có thể được sử dụng làm bằng chứng để giải quyết các tranh chấp (nếu có) trong giao dịch. Tuyệt tối KHÔNG làm cam kết miệng.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Lựa chọn hình thức giao hàng COD (nhận hàng sau đó trả tiền) và cho phép đồng kiểm (kiểm tra hàng sau đó trả tiền) trong trường hợp không thể gặp mặt giao dịch trực tiếp. Nếu không có đồng kiểm, sau khi nhận hàng, nên quay camera khi tự mở hàng để làm bằng chứng giải quyết các tranh chấp (nếu có).</span></li>
            </ul>
            <p><b>6/ Người mua làm giả giấy chuyển khoản thanh toán</b><span style="font-weight: 400;">, khiến người bán tin tưởng giao hàng nhưng thực tế không nhận được tiền. </span><span style="font-weight: 400;">Do hình ảnh biên lai, phiếu chuyển khoản có thể bị làm giả nên Người bán cần kiểm tra số dư thực tế trong tài khoản ngân hàng trước khi gửi hàng đi bằng cách:</span></p>
            <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Gọi điện thoại hoặc trực tiếp đến ngân hàng phát hành thẻ để kiểm tra.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Đăng nhập vào tài khoản Internet Banking để kiểm tra (nếu có).</span></li>
            </ul>
            <p><b>7/ Người mua chiếm đoạt món hàng</b><span style="font-weight: 400;"> của Người bán khi đề nghị được dùng thử. Ví dụ: xe máy, xe đạp,… Để đảm bảo an toàn, hãy thử xe cùng (ngồi chung xe) với người mua nếu nhận được yêu cầu chạy thử.</span></p>
            <h3><b>Khi phát hiện các trường hợp nghi ngờ lừa đảo, bạn cần làm gì?</b></h3>
            <p><span style="font-weight: 400;">Vui lòng liên hệ với bộ phận Chăm sóc Khách hàng của Techmarket để được hỗ trợ:</span></p>
            <ul>
                <li style="font-weight: 400;"><a href="//trogiup.chotot.com/lien-he/?live_support=1"><span style="font-weight: 400;">Nhấn vào đây</span></a><span style="font-weight: 400;"> để chat trực tiếp với chúng tôi trong giờ hành chính (từ 8h-12h và 13h-17h hàng ngày).</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Gửi email về </span><span style="font-weight: 400;">trogiup@chotot.vn</span><span style="font-weight: 400;">.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Đường dây nóng: 19003003 (Thời gian hỗ trợ từ 08h-12h và 13h-17h từ thứ 2 đến thứ 6 hàng tuần).</span></li>
            </ul>
        </div>
        
    </div>
</div>
