<div class="content-detail-seller" style="text-align:justify">
    <h1>Mẹo khi mua điện thoại</h1>
    <div class="entry-content">
        <p>Techmarket không can thiệp vào quá trình thương lượng và giao dịch giữa người mua và người bán với mong muốn tạo điều kiện thuận lợi nhất cho việc mua bán giữa đôi bên.</p>
        <p>Bên cạnh đó, sự an toàn của người dùng luôn là trăn trở và ưu tiên hàng đầu của chúng tôi (tìm hiểu thêm&nbsp;<a href="//trogiup.chotot.com/nguoi-mua/cho-tot-bao-ve-nguoi-dung-nhu-the-nao//">Techmarket làm thế nào để bảo vệ người dùng?</a>). Một số mẹo dưới đây có thể giúp bạn mua sắm an toàn hơn trên Techmarket:</p>
        <p>&nbsp;</p>
        <p>Bạn cũng có thể xem chi tiết thêm các Mẹo mua sắm này ở bên dưới:</p>
        <h4><strong>1. Thận trọng với các dòng điện thoại đắt tiền (Iphone, Samsung, …) rao bán giá rẻ</strong></h4>
        <ul>
            <li>Giá sản phẩm rẻ bất thường thường đi kèm với chất lượng không đảm bảo và khả năng người bán lừa đảo. Do đó, cần kiểm tra chi tiết chất lượng sản phẩm trước khi mua.</li>
        </ul>
        <h4><strong>2. Tìm hiểu rõ thông tin người bán và sản phẩm</strong></h4>
        <ul>
            <li>Tham khảo ý kiến của bạn bè, người thân, người có kinh nghiệm mua bán trực tuyến về sản phẩm bạn có ý định muốn&nbsp;mua trên Techmarket.</li>
            <li style="text-align: left;">Xác thực độ tin cậy của người bán bằng cách tìm kiếm số điện thoại của người bán trên google và xem các thông tin giao dịch trước đó như đánh giá của khách hàng về các sản phẩm đã rao bán, …</li>
            <li style="text-align: left;">
                Kiểm tra chi tiết thông tin sản phẩm được rao bán (được mô tả trong nội dung tin đăng) hoặc hỏi trực tiếp thông tin sản phẩm từ người bán (trong trường hợp nội dung tin đăng không đề cập). Bạn có thể tham khảo các câu hỏi sau để xác định mức độ minh bạch về thông tin sản phẩm:
                <ul>
                    <li>Tiêu đề có trùng khớp với nội dung, hình ảnh sản phẩm không?</li>
                    <li>Hình ảnh (nếu có) có góc chụp rõ ràng, chi tiết không?</li>
                    <li>Chi tiết về tình trạng sản phẩm (đã sử dụng bao lâu, có đầy đủ phụ kiện (nếu có), có hư hỏng gì hay không, sản phẩm phiên bản lock có xài&nbsp;sim ghép không, …)?</li>
                    <li>Giá cả người bán đưa ra có hợp lý so với tình trạng sản phẩm không?</li>
                    <li>Với sản phẩm có giá trị lớn, có hóa đơn chứng từ đầy đủ không?</li>
                </ul>
            </li>
        </ul>
        <h4><strong>3. Lựa chọn phương thức giao dịch an toàn</strong></h4>
        <ul>
            <li>Nên&nbsp;<strong>giao dịch trực tiếp</strong>&nbsp;và luôn&nbsp;<strong>đi từ 2 người trở lên</strong>. Đặc biệt đi cùng với người có hiểu biết về sản phẩm cần mua để hỗ trợ kiểm tra sản phẩm.</li>
            <li>Chọn những hình thức thanh toán an toàn như&nbsp;<strong>dịch vụ COD</strong>&nbsp;(nhận được hàng sau đó mới thanh toán tiền). Khi nhận hàng qua hình thức COD, cần kiểm tra kỹ chất lượng sản phẩm sau đó mới trả tiền.</li>
            <li>
                <strong>Hạn chế chuyển tiền cho người bán trước khi nhận hàng</strong>, đặc biệt cần thận trọng đối với:
                <ul>
                    <li>Những giao dịch lần đầu hoặc giao dịch có giá trị lớn.</li>
                    <li>Các hình thức chuyển tiền trước khi nhận hàng: chuyển khoản bên ngoài nền tảng Techmarket (qua tài khoản ngân hàng cá nhân, …), nạp thẻ điện thoại, …</li>
                </ul>
            </li>
            <li>
                Trong trường hợp chuyển tiền trước, người dùng được khuyến khích:
                <ul>
                    <li>Kiểm tra kỹ độ uy tín của người bán và tham khảo ý kiến từ bạn bè và người thân.</li>
                    <li><strong>VÀ</strong>&nbsp;sử dụng tính năng&nbsp;<strong>Đặt cọc qua Techmarket</strong>&nbsp;để việc mua bán trở nên an toàn hơn.&nbsp;<a href="//trogiup.chotot.com/nguoi-mua/tinh-nang-dat-coc-la-gi/">Tìm hiểu thêm</a>.</li>
                </ul>
            </li>
        </ul>
        <h4><strong>4. Chọn địa điểm giao dịch an toàn</strong></h4>
        <ul>
            <li>Chủ động hẹn gặp ở nơi quen thuộc và đông người như tại nhà của bạn hoặc các nơi công cộng như nhà hàng, … mà bạn quen biết và hay thường xuyên ghé.</li>
            <li>Tránh giao dịch mua bán với những đối tượng bán hàng không có địa chỉ cụ thể, hoặc thay đổi địa chỉ giao dịch nhiều lần.</li>
        </ul>
        <h4><strong>5. Kiểm tra kỹ sản phẩm và cẩn trọng tại thời điểm giao dịch</strong></h4>
        <ul>
            <li>Khi giao dịch cần kiểm tra trước thông tin cấu hình, các tính năng và hình thức của sản phẩm có giống với mô tả của tin đăng hay không.</li>
            <li>Reset máy trước khi kiểm tra số IMEI (mã nhận dạng thiết bị di động) bên dưới pin điện thoại, so sánh với số IMEI người bán cung cấp trước đó (nếu có) và thời hạn bảo hành, xuất xứ, tình trạng sản phẩm.</li>
            <li>Sau khi kiểm tra hàng, nên giữ sản phẩm bên mình sau đó mới trả tiền.</li>
            <li>Lưu ý tránh đưa sản phẩm lại cho người bán hoặc để sản phẩm ngoài tầm mắt sau khi đã trả tiền.</li>
        </ul>
        <h4><span style="text-decoration: underline;"><strong>Những trường hợp gian lận cần cảnh giác</strong></span></h4>
        <ul>
            <li><strong>Tráo điện thoại:</strong> Người mua tìm mua điện thoại chính hãng, khi kiểm tra hàng thì sản phẩm đúng là chính hãng như đã mô tả, nhưng sau khi người mua thanh toán, người bán nhanh tay tráo điện thoại chính hãng bằng hàng giả.</li>
            <li><strong>Chuyển tiền trước nhưng không nhận được hàng</strong>: Người mua đã thanh toán hoặc đặt cọc (bằng chuyển khoản, chuyển qua bưu điện, nạp thẻ cào…) nhưng không nhận lại được hàng do người bán không giao hàng và không liên lạc được người bán nữa.</li>
        </ul>
        <h4><span style="text-decoration: underline;"><strong>Khi phát hiện&nbsp;các tin đăng nghi ngờ gian lận, bạn cần làm gì?</strong></span></h4>
        <p>Vui lòng liên hệ với bộ phận Chăm sóc Khách hàng để được hỗ trợ:</p>
        <ul>
            <li><a href="//trogiup.chotot.com/lien-he/?live_support=1">Nhấn vào đây</a>&nbsp;để chat trực tiếp với chúng tôi trong giờ hành chính (từ 8h-12h và 13h-17h hàng ngày).</li>
            <li>Gửi email về&nbsp;<a href="mailto:trogiup@chotot.vn">trogiup@chotot.vn</a>.</li>
            <li>Đường dây nóng: 19003003 (Thời gian hỗ trợ từ 08h-12h và 13h-17h từ thứ 2 đến thứ 6 hàng tuần).</li>
        </ul>
    </div>
    
</div>
